@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

@media screen and (min-width: 450px) {
    .footer {
        display: flex;
        align-items: center;

        margin: 0 auto;

        width: 100%;

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        padding: 1vh 6vh;

        border-top: 0.3vh solid #478BF9;
        border-left: 0.3vh solid #478BF9;
        border-right: 0.3vh solid #478BF9;

        border-radius: 4vh 4vh 0 0;
        background: #1E1231;
    }

    .profileContainer {
        display: flex;
    }

    .link {
        color: #fff;
        text-decoration: none;
        margin-left: 2vh;
        font-weight: 400;

        font-size: 1.25vh;
    }

    .link:hover {
        color: #478BF9;
        text-decoration-line: underline;
    }

    .socialCard {
        display: flex;
        list-style-type: none;
        margin-top: 1vh;
        max-width: 30vh;
    }

    .socialCard li svg path {
        transition: fill 0.3s ease;
        cursor: pointer;
    }

    .socialCard li svg:hover path:first-child {
        filter: brightness(1.5);
    }

    .socialCard li {
        margin: 0px 0.3vh;
    }

    .colorWhite {
        color: #fff;
    }

    .textAlignRight {
        text-align: right;
    }

    .textAlignRight h3 {
        font-size: 1.25vh;
    }

    .socialCard li svg {
        width: 100%;
        height: 100%;
        margin-right: 0.5vh;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        width: 100%;
        border-radius: 50px 50px 0px 0px;

        margin-top: 20vh;

        background: #1E1231;
    }

    .nav {
        padding: 3vh;
        border-radius: 50px 50px 0px 0px;
        border-top: 2px solid #478BF9;
        border-right: 2px solid #478BF9;
        border-left: 2px solid #478BF9;
    }

    .socialContainer {
        margin-top: 3vh;
        color: #fff;
    }

    .socialContainer h3 {
        font-weight: 400;
    }

    .linksContainer a {
        color: #fff;
        font-weight: 400;
        text-decoration: none;
    }


    .linksContainer {
        display: flex;
        flex-direction: column;
    }

    .socialCard {
        display: flex;
        margin-top: 1vh;
        gap: 1.5vh;
    }
}